---
import MainLayout from '../../layouts/main.astro';
import { TeamMember } from '../../components/TeamMember.tsx';
---

<MainLayout content={{ title: 'Our Team | AI Secure Software Development' }}>
  <section class="container mx-auto py-8">
    <h1 class="text-3xl font-bold mb-8">Principal Investigator</h1>
    <div class="grid grid-cols-1 md:grid-cols-2 lg:grid-cols-3 gap-8">
      <TeamMember name="João R. Campos" image="/team/joaorcampos.jpeg" linkedin="https://www.linkedin.com/in/jo%C3%A3o-r-campos-38876015a/" googleScholar="https://scholar.google.com/citations?user=_kcaqoEAAAAJ" personalWebsite="https://www.cisuc.uc.pt/en/people/joao-campos" />
    </div>
    <h1 class="text-3xl font-bold mb-8 mt-16">Team Members</h1>
    <div class="grid grid-cols-1 md:grid-cols-2 lg:grid-cols-3 gap-8">
      <TeamMember name="João Donato" image="/team/joaodonato.jpeg" linkedin="https://www.linkedin.com/in/joaom-cdonato/"  />
      <TeamMember name="Charles Gonçalves" image="/team/charlesgoncalves.JPG" linkedin="https://www.linkedin.com/in/charles-goncalves-ba010917/" googleScholar="https://scholar.google.com/citations?hl=en&user=9sXqxd4AAAAJ" personalWebsite="https://www.cisuc.uc.pt/en/people/charles-goncalves"/>
      <TeamMember name="José D'Abruzzo Pereira" image="/team/josepereira.jpeg" linkedin="https://www.linkedin.com/in/jose-alexandre-dabruzzo-pereira/" googleScholar="https://scholar.google.com/citations?hl=en&user=ZPKlxFQAAAAJ" personalWebsite="https://www.cisuc.uc.pt/en/people/jose-pereira"/>
      <TeamMember name="João Donato" image="/team/joaodonato.jpeg" linkedin="https://www.linkedin.com/in/joaodonato/" />
      <TeamMember name="João Donato" image="/team/joaodonato.jpeg" linkedin="https://www.linkedin.com/in/joaodonato/" />
      <TeamMember name="João Donato" image="/team/joaodonato.jpeg" linkedin="https://www.linkedin.com/in/joaodonato/" />
      <TeamMember name="João Donato" image="/team/joaodonato.jpeg" linkedin="https://www.linkedin.com/in/joaodonato/" />
      <TeamMember name="João Donato" image="/team/joaodonato.jpeg" linkedin="https://www.linkedin.com/in/joaodonato/" />
      
    </div>

  </section>
</MainLayout> 